body {
  background-image: url(background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-size: cover;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.box {
  width: 70%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.7); /* Colore nero con opacità 0.7 */
  border-radius: 15px; /* Bordo stondato */
  padding: 20px; /* Padding interno per il contenuto all'interno del riquadro */
  color: white; /* Colore del testo */
  position: absolute;
  text-align: center;
}

.top{
  font-size: 30px;
  color: #00FF00;
  font-weight: bolder;
}

.navigation{
  text-align: center;
  background-color: #00FF00;
  height: 7%;
}

.button{
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 2px;
  margin-top: 15px;
    }

.button:hover{
  color: gray;
}

.scelta{
  text-align: left;
  padding: inherit;
  font-size: 30px;
  font-weight: bolder;
}

.arrow-container {
  text-align: left; /* Allinea il testo a sinistra */
  font-size: 15px;
  font-weight: normal;
  margin-top: auto;
}

.arrow {
  display: inline-flex; /* Per mantenere il testo accanto alla freccia */
}

.arrow::before {
  content: ''; /* Contenuto pseudoelemento */
  width: 0;
  height: 0;
  border-top: 5px solid transparent; /* Altezza della freccia */
  border-bottom: 5px solid transparent;
  border-left: 5px solid #00FF00; /* Colore della freccia */
  margin-right: 10px; /* Margine a destra per separare la freccia dal testo */
}

.status-bar {
  width: 70%;
  text-align: left;
}

.status-bar p {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
}

.progress-bar {
  height: 20px;
  background-color: #4CAF50; /* Colore verde predefinito */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: left;
}

/* Cambia colore a seconda della lunghezza della barra */
.progress-bar {
  width: 30%; /* Imposta la lunghezza della barra in base allo stato di carica */
}

.progress-bar.orange {
  background-color: #FFA500; /* Arancione */
}

.progress-bar.red {
  background-color: #FF0000; /* Rosso */
}
